<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>Error_404_资源不存在</title>
</head>
<body>
    <div style="text-align: center;margin: 190px 0">
        <h1>404,抱歉! 您访问的资源不存在!</h1>
        <p>请确认您输入的网址是否正确，如果问题持续存在，请发邮件至475308964@qq.com与我联系。</p>
        <p><a href="{% url 'home' %}">返回网站首页</a></p>
    </div>
</body>
</html>