{% load staticfiles %}
{% load notifications_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="{% static 'plugins/bootstrap/css/bootstrap.min.css' %}">
    <link rel="shortcut icon" href="{% static 'imgs/favicon.ico' %}">

    {% block css %}{% endblock %}
    <style>


    </style>
</head>
<body>
    <div class="pg-head">
        <nav class="navbar navbar-default navbar-fixed-top " role="navigation" >
            <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <a class="navbar-brand" href="{% url 'home' %}">许哲锋的博客</a>
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>

                </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li class="{% block nav-home-active %}{% endblock %}">
                            <a href="{% url 'home' %}"><span class="glyphicon glyphicon-home"></span>  首页</a>
                        </li>
                        <li class="{% block nav-blog-active %}{% endblock %}">
                            <a href="{% url 'blog_list' %}"><span class="glyphicon glyphicon-book"></span>  我的博客</a>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        {% if user.is_authenticated %}
                            {% notifications_unread as unread_count %}
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                    你好, {{ user.get_nickname_or_username }}
                                    {% if unread_count > 0 %}
                                        <span class="badge unread-count live_notify_badge ">{{ unread_count }}</span>
                                    {% endif %}
                                    <span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a href="{% url 'user_info' %}">个人资料</a></li>
                                    {% if user.is_staff %}
                                        <li><a href="{% url 'admin:index' %}">后台管理</a></li>
                                    {% endif %}
                                    <li>
                                        <a href="{% url 'my_notifications' %}">
                                            消息中心
                                            {% if unread_count > 0 %}
                                                <span class="badge unread-count live_notify_badge">{{ unread_count }}</span>
                                            {% endif %}
                                        </a>
                                    </li>
                                    <li><a href="{% url 'logout' %}">注销</a></li>
                                </ul>
                            </li>
                        {% else %}
                            <li>
                                {% if request.GET.from %}
                                    <a href={% url 'login' %}?from={{ request.GET.from }}>登录</a>
                                {% else %}
                                    <a href={% url 'login' %}?from={{ request.get_full_path }}>登录</a>
                                {% endif %}
                            </li>
                            <li>
                                {% if request.GET.from %}
                                    <a href={% url 'register' %}?from={{ request.GET.from }}>注册</a>
                                {% else %}
                                    <a href={% url 'register' %}?from={{ request.get_full_path }}>注册</a>
                                {% endif %}
                            </li>
                        {% endif %}
                    </ul>

                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
        </nav>
    </div>
    <div class="pg-body">
        {% block content %}{% endblock %}
    </div>
    <div class="pg-footer">
        <div class="website-info">
            <p>Welcome to visit my blog  © Edwin Xu</p>
        </div>
    </div>


<script type="text/javascript" src="{% static 'js/jquery-1.12.4.min.js' %}"></script>
<script type="text/javascript" src="{% static 'plugins/bootstrap/js/bootstrap.min.js' %}"></script>
<script type="text/javascript" src="{% static 'notifications/notify.js' %}" ></script>
 <script type="text/javascript">
    //底部栏置底
    //窗体改变大小事件
    $(window).resize(function(){
        //正文高度
        var body_height = $(document.body).outerHeight(true);
        //底部元素高度
        var bottom_height = $("#footer").outerHeight(true);
        //浏览器页面高度
        var window_height = $(window).height();

        //判断并调整底部元素的样式
        if($(".pg-footer").hasClass('page-bottom')){
            //若包含有page-bottom类，就应用了position设置
            //当position为absolute时，body高度不包含这个元素
            //所以页面高度需要判断body和footer之和若大于浏览器窗口
            //则移除样式，让footer自然跟随在正文后面
            if(body_height + bottom_height >= window_height){
                $(".pg-footer").removeClass('page-bottom');
            }
        }else{
            //若没有page-bottom类，body高度包含footer
            //判断body高度小于浏览器时，则悬浮于底部
            if(body_height < window_height){
                $(".pg-footer").addClass('page-bottom');
            }
        }
    });
    //页面加载时，模拟触发一下resize事件
    $(window).trigger('resize');
</script>

{% register_notify_callbacks callbacks='fill_notification_list,fill_notification_badge' %}
{% block js %}{% endblock %}

</body>
</html>